## Importa pandas

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv('movies_evidencia.csv')

## 1  Sacamos la coleccion

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4489 non-null   object
 1   budget                 45379 non-null  int64
 2   genres                 42995 non-null  object
 3   id                     45379 non-null  int64
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45379 non-null  float64
 7   production_companies   33583 non-null  object
 8   production_countries   39168 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45379 non-null  int64
 11  runtime                45133 non-null  float64
 12  spoken_languages       41488 non-null  object
 13  status                 45299 non-null  object
 14  tagline                20399 non-null  object
 15  title                  45379 non-null  object
 16  vote_average           45379 non-null  float64
 17  vote_count             45379 non-null  int64
 18  release_year           45379 non-null  int64
 19  return                 45379 non-null  float64
dtypes: float64(4), int64(5), object(11)
memory usage: 6.9+ MB

In [8]:
data.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,release_year,return
count,4.537900e+04,45379.000000,45379.000000,4.537900e+04,45133.000000,45379.000000,45379.000000,45379.000000,45379.0
mean,4.232325e+06,108029.978955,2.926356,1.122936e+07,94.181043,5.624079,110.089931,1991.882236,inf
std,1.743932e+07,112166.713796,6.009491,6.438789e+07,38.340053,1.915381,491.727295,24.054986,NaN
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1874.000000,0.0
25%,0.000000e+00,26386.500000,0.388835,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,0.0
50%,0.000000e+00,59859.000000,1.130503,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,0.0
75%,0.000000e+00,156538.000000,3.690686,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,0.0
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000,2020.000000,inf

##  2/ Consultas respecto nuestra Columna POPULARITY

In [9]:
data["popularity"]

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45374     5.683753
45375     0.178241
45376     0.903007
45377     0.003503
45378     0.163015
Name: popularity, Length: 45379, dtype: float64

## 3/ 10 PRIMEROS DATOS DE POPULARITY

In [11]:
print(data["popularity"].head(10))

0    21.946943
1    17.015539
2    11.712900
3     3.859495
4     8.387519
5    17.924927
6     6.677277
7     2.561161
8     5.231580
9    14.686036
Name: popularity, dtype: float64

## 4/ 10 ULTIMOS DATOS DE POPULARITY

In [12]:
print(data["popularity"].tail(10))

45369    0.225051
45370    0.222814
45371    0.076061
45372    0.386450
45373    0.661558
45374    5.683753
45375    0.178241
45376    0.903007
45377    0.003503
45378    0.163015
Name: popularity, dtype: float64

## 5 / REDORNDEAR AL NUMERO MAS CERCANO

In [44]:
data["popularity"].round()
print(data["popularity"])

0        22.0
1        17.0
2        12.0
3         4.0
4         8.0
         ...
45374     6.0
45375     0.0
45376     1.0
45377     0.0
45378     0.0
Name: popularity, Length: 45379, dtype: float64

## 6/ Sacar el max y min

In [14]:
pmax = data["popularity"].max()
pmin = data["popularity"].min()

print("Popularidad máxima:", pmax)
print("Popularidad mínima:", pmin)

Popularidad máxima: 547.0
Popularidad mínima: 0.0

## 7/ Ver a que franquicia, pelicula le pertenece la maxima popularidad

In [16]:
# max-indice
imaxpopular= data["popularity"].idxmax()

# belongs_to_collection relacion a popularity
belongs_to_collection_max_popularity = data.loc[imaxpopular, "belongs_to_collection"]

print("Popularidad máxima:", pmax)
print("franquicia y/o pelicula al que pertenece la máxima a la popularidad :", belongs_to_collection_max_popularity)

Popularidad máxima: 547.0
franquicia y/o pelicula al que pertenece la máxima a la popularidad : Despicable Me Collection

## 8/ votos max y min

In [17]:
vmax = data["vote_count"].max()
vmin = data["vote_count"].min()

print("Votos máxima:", vmax)
print("Votos mínima:", vmin)

Votos máxima: 14075
Votos mínima: 0

In [18]:
index_vote_count = data["vote_count"].idxmax()
titlePelicula_max_votos = data.loc[index_vote_count, "title"]
print("voto máximo:", vmax)
print("titulo de 'title' correspondiente a votos máximos:", titlePelicula_max_votos)

voto máximo: 14075
titulo de 'title' correspondiente a votos máximos: Inception

## 9/ Estado de la pelicula (estados unicos)

In [20]:
estados = data["status"].unique()
print("Estados de las películas:")
print(estados)

Estados de las películas:
['Released' nan 'Rumored' 'Post Production' 'In Production' 'Planned'
 'Canceled']

## 10/ conteo de estados(cantidad de cada uno)

In [21]:
cantidad_estados = data["status"].value_counts()
print("Cantidad de cada estado en la columna 'status':")
print(cantidad_estados)

Cantidad de cada estado en la columna 'status':
Released           44939
Rumored              230
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: status, dtype: int64

## 11/ conteo de las categorias con mas uso

In [22]:
data["genres"].value_counts()

Drama                                                            4998
Comedy                                                           3621
Documentary                                                      2713
Drama, Romance                                                   1301
Comedy, Drama                                                    1135
                                                                 ...
Family, Drama, Fantasy                                              1
Action, Adventure, Romance, Thriller                                1
Science Fiction, Adventure, Animation, Action, Family, Comedy       1
Science Fiction, Animation, Family, Comedy, Adventure               1
Family, Animation, Romance, Comedy                                  1
Name: genres, Length: 4065, dtype: int64

## 12/ pais con mas uso para fines de peliculas

In [23]:
print(data["production_countries"])

0                                 United States of America
1                                 United States of America
2                                 United States of America
3                                 United States of America
4                                 United States of America
                               ...
45374    Canada, Germany, United Kingdom, United States...
45375                                          Philippines
45376                             United States of America
45377                                               Russia
45378                                       United Kingdom
Name: production_countries, Length: 45379, dtype: object

In [24]:
# dividir columna
data_expanded = data.assign(production_countries=data['production_countries'].str.split(', ')).explode('production_countries')

# cantidad de veces
paises_frecuencia = data_expanded["production_countries"].value_counts()

# top 10
top_10_paises_mas_frecuentes = paises_frecuencia.head(10)

print("Cantidad de películas producidas en cada país (Top 10):")
print(top_10_paises_mas_frecuentes)

Cantidad de películas producidas en cada país (Top 10):
United States of America    21149
United Kingdom               4092
France                       3939
Germany                      2254
Italy                        2168
Canada                       1767
Japan                        1649
Spain                         964
Russia                        911
India                         827
Name: production_countries, dtype: int64

## 13/ peliculas con mayor recaudacion

In [25]:
# ordenar mayor -> menor
top_10_mas_recaudacion = data.nlargest(10, "revenue")

# ordenar menor -> mayor
top_10_menos_recaudacion = data.nsmallest(10, "revenue")

print("Top 10 películas con mayor recaudación:")
print(top_10_mas_recaudacion[["belongs_to_collection", "revenue"]])

print("\nTop 10 películas con menor recaudación:")
print(top_10_menos_recaudacion[["belongs_to_collection", "revenue"]])

Top 10 películas con mayor recaudación:
                     belongs_to_collection     revenue
14545                    Avatar Collection  2787965087
26526                 Star Wars Collection  2068223624
1637                                   NaN  1845034188
17807              The Avengers Collection  1519557910
25055             Jurassic Park Collection  1513528810
28800  The Fast and the Furious Collection  1506249360
26529              The Avengers Collection  1405403694
17426              Harry Potter Collection  1342000000
22085                    Frozen Collection  1274219009
42154                                  NaN  1262886337

Top 10 películas con menor recaudación:
        belongs_to_collection  revenue
2   Grumpy Old Men Collection        0
6                         NaN        0
7                         NaN        0
11                        NaN        0
21                        NaN        0
23                        NaN        0
25                        NaN        0
27                        NaN        0
29                        NaN        0
32                        NaN        0

## 14/ pelicula con mas recuadacion

In [27]:
# != de 0
data_con_recaudacion = data[data["revenue"] != 0]

#mayor->menor y la pelicula con mas recaudacion
top_10_mas_recaudacion = data_con_recaudacion.nlargest(10, "revenue")

# top 10 peliculas + recaudaciones
print("Top 10 películas con mayor recaudación:")
print(top_10_mas_recaudacion[["title", "revenue"]])

#peliculas =! a 0
data_con_recaudacion_diferente_cero = data_con_recaudacion[data_con_recaudacion["revenue"] != 0]

#menor->mayor  pelicuala con menor recaudación
top_10_menos_recaudacion = data_con_recaudacion_diferente_cero.nsmallest(10, "revenue")

# verificar si existe las 10 peliculas =! 0
print("\nTop 10 películas con menor recaudación (diferente de 0):")
print(top_10_menos_recaudacion[["title", "revenue"]])

Top 10 películas con mayor recaudación:
                                              title     revenue
14545                                        Avatar  2787965087
26526                  Star Wars: The Force Awakens  2068223624
1637                                        Titanic  1845034188
17807                                  The Avengers  1519557910
25055                                Jurassic World  1513528810
28800                                     Furious 7  1506249360
26529                       Avengers: Age of Ultron  1405403694
17426  Harry Potter and the Deathly Hallows: Part 2  1342000000
22085                                        Frozen  1274219009
42154                          Beauty and the Beast  1262886337

Top 10 películas con menor recaudación (diferente de 0):
                         title  revenue
114      Anne Frank Remembered        1
180               Mute Witness        1
1570         Washington Square        1
2351       Belizaire the Cajun        1
2493         The King of Masks        1
4684              Extreme Days        1
7197   The Wind in the Willows        1
16773          The Merry Widow        1
25963        A Cry in the Wild        1
35043              The Letters        1

## 15/ peliculas que duran menos de 98.0

In [32]:

df_filtrado = data[data['runtime'] < 98.0]
print("Peliculas que duran menos de 98.0:")
print(df_filtrado)

Peliculas que duran menos de 98.0:
        belongs_to_collection    budget                            genres  \
0        Toy Story Collection  30000000         Animation, Comedy, Family
7                         NaN         0  Action, Adventure, Drama, Family
11                        NaN         0                    Comedy, Horror
12           Balto Collection         0      Family, Animation, Adventure
18     Ace Ventura Collection  30000000          Crime, Comedy, Adventure
...                       ...       ...                               ...
45372                     NaN         0                            Horror
45373                     NaN         0                   Science Fiction
45376                     NaN         0           Action, Drama, Thriller
45377                     NaN         0                               NaN
45378                     NaN         0                               NaN

           id original_language  \
0         862                en
7       45325                en
11      12110                en
12      21032                en
18       9273                en
...       ...               ...
45372  289923                en
45373  222848                en
45376   67758                en
45377  227506                en
45378  461257                en

                                                overview  popularity  \
0      Led by Woody, Andy's toys live happily in his ...        22.0
7      A mischievous young boy, Tom Sawyer, witnesses...         3.0
11     When a lawyer shows up at the vampire's doorst...         5.0
12     An outcast half-wolf risks his life to prevent...        12.0
18     Summoned from an ashram in Tibet, Ace finds hi...         8.0
...                                                  ...         ...
45372  A film archivist revisits the story of Rustin ...         0.0
45373  It's the year 3000 AD. The world's most danger...         1.0
45376  When one of her hits goes wrong, a professiona...         1.0
45377  In a small town live two brothers, one a minis...         0.0
45378  50 years after decriminalisation of homosexual...         0.0

                                    production_companies  \
0                                Pixar Animation Studios
7                                   Walt Disney Pictures
11     Columbia Pictures, Castle Rock Entertainment, ...
12     Universal Pictures, Amblin Entertainment, Ambl...
18     O Entertainment, Warner Bros., Morgan Creek Pr...
...                                                  ...
45372     Neptune Salad Entertainment, Pirie Productions
45373                              Concorde-New Horizons
45376                            American World Pictures
45377                                          Yermoliev
45378                                                NaN

                   production_countries release_date    revenue  runtime  \
0              United States of America   1995-10-30  373554033     81.0
7              United States of America   1995-12-22          0     97.0
11     France, United States of America   1995-12-22          0     88.0
12             United States of America   1995-12-22   11348324     78.0
18             United States of America   1995-11-10  212385533     90.0
...                                 ...          ...        ...      ...
45372          United States of America   2000-10-03          0     30.0
45373          United States of America   1995-01-01          0     85.0
45376          United States of America   2003-08-01          0     90.0
45377                            Russia   1917-10-21          0     87.0
45378                    United Kingdom   2017-06-09          0     75.0

       spoken_languages    status  \
0               English  Released
7      English, Deutsch  Released
11     English, Deutsch  Released
12              English  Released
18              English  Released
...                 ...       ...
45372           English  Released
45373           English  Released
45376           English  Released
45377               NaN  Released
45378           English  Released

                                                 tagline  \
0                                                    NaN
7                                 The Original Bad Boys.
11                                                   NaN
12                        Part Dog. Part Wolf. All Hero.
18               New animals. New adventures. Same hair.
...                                                  ...
45372  Do you know what happened 50 years before "The...
45373                                                NaN
45376                             A deadly game of wits.
45377                                                NaN
45378                                                NaN

                                title  vote_average  vote_count  release_year  \
0                           Toy Story           7.7        5415          1995
7                        Tom and Huck           5.4          45          1995
11        Dracula: Dead and Loving It           5.7         210          1995
12                              Balto           7.1         423          1995
18     Ace Ventura: When Nature Calls           6.1        1128          1995
...                               ...           ...         ...           ...
45372             The Burkittsville 7           7.0           1          2000
45373                 Caged Heat 3000           3.5           1          1995
45376                        Betrayal           3.8           6          2003
45377                Satan Triumphant           0.0           0          1917
45378                        Queerama           0.0           0          2017

          return
0      12.451801
7       0.000000
11      0.000000
12           inf
18      7.079518
...          ...
45372   0.000000
45373   0.000000
45376   0.000000
45377   0.000000
45378   0.000000

[25902 rows x 20 columns]

## 16/ peliculas con voto mayor a 5.7

In [33]:
df_filtrado = data[data['vote_average'] > 5.7 ]
print("\Con calificacion mayor a 5.7")
print(df_filtrado)

\Con calificacion mayor a 5.7
           belongs_to_collection    budget                          genres  \
0           Toy Story Collection  30000000       Animation, Comedy, Family
1                            NaN  65000000      Adventure, Fantasy, Family
2      Grumpy Old Men Collection         0                 Romance, Comedy
3                            NaN  16000000          Comedy, Drama, Romance
5                            NaN  60000000  Action, Crime, Drama, Thriller
...                          ...       ...                             ...
45369                        NaN         0                             NaN
45370                        NaN         0       Horror, Mystery, Thriller
45371                        NaN         0                 Mystery, Horror
45372                        NaN         0                          Horror
45375                        NaN         0                           Drama

           id original_language  \
0         862                en
1        8844                en
2       15602                en
3       31357                en
5         949                en
...       ...               ...
45369   67179                it
45370   84419                en
45371  390959                en
45372  289923                en
45375  111109                tl

                                                overview  popularity  \
0      Led by Woody, Andy's toys live happily in his ...        22.0
1      When siblings Judy and Peter discover an encha...        17.0
2      A family wedding reignites the ancient feud be...        12.0
3      Cheated on, mistreated and stepped on, the wom...         4.0
5      Obsessive master thief, Neil McCauley leads a ...        18.0
...                                                  ...         ...
45369  Sentenced to life imprisonment for illegal act...         0.0
45370  An unsuccessful sculptor saves a madman named ...         0.0
45371  In this true-crime documentary, we delve into ...         0.0
45372  A film archivist revisits the story of Rustin ...         0.0
45375  An artist struggles to finish his work while a...         0.0

                                    production_companies  \
0                                Pixar Animation Studios
1      TriStar Pictures, Teitler Film, Interscope Com...
2                           Warner Bros., Lancaster Gate
3                 Twentieth Century Fox Film Corporation
5        Regency Enterprises, Forward Pass, Warner Bros.
...                                                  ...
45369                                                NaN
45370                                 Universal Pictures
45371                                                NaN
45372     Neptune Salad Entertainment, Pirie Productions
45375                                        Sine Olivia

           production_countries release_date    revenue  runtime  \
0      United States of America   1995-10-30  373554033     81.0
1      United States of America   1995-12-15  262797249    104.0
2      United States of America   1995-12-22          0    101.0
3      United States of America   1995-12-22   81452156    127.0
5      United States of America   1995-12-15  187436818    170.0
...                         ...          ...        ...      ...
45369                       NaN   1972-01-01          0     90.0
45370  United States of America   1946-03-29          0     65.0
45371                       NaN   2000-10-22          0     45.0
45372  United States of America   2000-10-03          0     30.0
45375               Philippines   2011-11-17          0    360.0

        spoken_languages    status  \
0                English  Released
1      English, Français  Released
2                English  Released
3                English  Released
5       English, Español  Released
...                  ...       ...
45369           Italiano  Released
45370            English  Released
45371            English  Released
45372            English  Released
45375                NaN  Released

                                                 tagline  \
0                                                    NaN
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
5                               A Los Angeles Crime Saga
...                                                  ...
45369                                                NaN
45370                                Meet...The CREEPER!
45371                                                NaN
45372  Do you know what happened 50 years before "The...
45375                                                NaN

                           title  vote_average  vote_count  release_year  \
0                      Toy Story           7.7        5415          1995
1                        Jumanji           6.9        2413          1995
2               Grumpier Old Men           6.5          92          1995
3              Waiting to Exhale           6.1          34          1995
5                           Heat           7.7        1886          1995
...                          ...           ...         ...           ...
45369  St. Michael Had a Rooster           6.0           3          1972
45370           House of Horrors           6.3           8          1946
45371  Shadow of the Blair Witch           7.0           2          2000
45372        The Burkittsville 7           7.0           1          2000
45375        Century of Birthing           9.0           3          2011

          return
0      12.451801
1       4.043035
2       0.000000
3       5.090760
5       3.123947
...          ...
45369   0.000000
45370   0.000000
45371   0.000000
45372   0.000000
45375   0.000000

[26789 rows x 20 columns]

## 17/ Mostrar peliculas antes de la fecha 1995-10-20

In [34]:
data['release_date'] = pd.to_datetime(df['release_date'])
fecha_limite = pd.to_datetime('1995-10-20')
peliculas_anteriores_fecha = data[data['release_date'] < fecha_limite]
print(peliculas_anteriores_fecha)

                belongs_to_collection    budget  \
4      Father of the Bride Collection         0
22                                NaN  50000000
27                                NaN         0
28                                NaN  18000000
29                                NaN         0
...                               ...       ...
45369                             NaN         0
45370                             NaN         0
45373                             NaN         0
45374                             NaN         0
45377                             NaN         0

                                    genres      id original_language  \
4                                   Comedy   11862                en
22      Action, Adventure, Crime, Thriller    9691                en
27                          Drama, Romance   17015                en
28     Fantasy, Science Fiction, Adventure     902                fr
29                            Drama, Crime   37557                zh
...                                    ...     ...               ...
45369                                  NaN   67179                it
45370            Horror, Mystery, Thriller   84419                en
45373                      Science Fiction  222848                en
45374               Drama, Action, Romance   30840                en
45377                                  NaN  227506                en

                                                overview  popularity  \
4      Just when George Banks has recovered from his ...         8.0
22     Assassin Robert Rath arrives at a funeral to k...        11.0
27     This film adaptation of Jane Austen's last nov...         2.0
28     A scientist in a surrealist society kidnaps ch...        10.0
29     A provincial boy related to a Shanghai crime f...         1.0
...                                                  ...         ...
45369  Sentenced to life imprisonment for illegal act...         0.0
45370  An unsuccessful sculptor saves a madman named ...         0.0
45373  It's the year 3000 AD. The world's most danger...         1.0
45374  Yet another version of the classic epic, with ...         6.0
45377  In a small town live two brothers, one a minis...         0.0

                                    production_companies  \
4             Sandollar Productions, Touchstone Pictures
22     Silver Pictures, Canal+, Warner Bros., Dino De...
27                                             BBC Films
28     Procirep, Constellation Productions, France 3 ...
29     Ministère des Affaires Étrangères, Alpha Films...
...                                                  ...
45369                                                NaN
45370                                 Universal Pictures
45373                              Concorde-New Horizons
45374  Westdeutscher Rundfunk (WDR), Working Title Fi...
45377                                          Yermoliev

                                    production_countries release_date  \
4                               United States of America   1995-02-10
22                      France, United States of America   1995-10-06
27                                United Kingdom, France   1995-09-27
28                                France, Germany, Spain   1995-05-16
29                                         China, France   1995-04-30
...                                                  ...          ...
45369                                                NaN   1972-01-01
45370                           United States of America   1946-03-29
45373                           United States of America   1995-01-01
45374  Canada, Germany, United Kingdom, United States...   1991-05-13
45377                                             Russia   1917-10-21

        revenue  runtime              spoken_languages    status  \
4      76578911    106.0                       English  Released
22     30303072    132.0  English, Español, Nederlands  Released
27            0    104.0                       English  Released
28      1738611    108.0           广州话 / 廣州話, Français  Released
29            0    108.0                           普通话  Released
...         ...      ...                           ...       ...
45369         0     90.0                      Italiano  Released
45370         0     65.0                       English  Released
45373         0     85.0                       English  Released
45374         0    104.0                       English  Released
45377         0     87.0                           NaN  Released

                                                 tagline  \
4      Just When His World Is Back To Normal... He's ...
22     In the shadows of life, In the business of dea...
27                                                   NaN
28             Where happily ever after is just a dream.
29     In 1930's Shanghai violence was not the proble...
...                                                  ...
45369                                                NaN
45370                                Meet...The CREEPER!
45373                                                NaN
45374                                                NaN
45377                                                NaN

                             title  vote_average  vote_count  release_year  \
4      Father of the Bride Part II           5.7         173          1995
22                       Assassins           6.0         394          1995
27                      Persuasion           7.4          36          1995
28       The City of Lost Children           7.6         308          1995
29                  Shanghai Triad           6.5          17          1995
...                            ...           ...         ...           ...
45369    St. Michael Had a Rooster           6.0           3          1972
45370             House of Horrors           6.3           8          1946
45373              Caged Heat 3000           3.5           1          1995
45374                   Robin Hood           5.7          26          1991
45377             Satan Triumphant           0.0           0          1917

         return
4           inf
22     0.606061
27     0.000000
28     0.096589
29     0.000000
...         ...
45369  0.000000
45370  0.000000
45373  0.000000
45374  0.000000
45377  0.000000

[18505 rows x 20 columns]

## 18/ Peliculas que contegan los geenros Adventure y Action

In [37]:
peliculas_accion_aventura = data[(data['genres'] == 'Action') | (data['genres'] == 'Adventure')]
print(peliculas_accion_aventura)

           belongs_to_collection    budget     genres      id  \
148                          NaN  28000000  Adventure   11780
166        Free Willy Collection         0  Adventure    9073
497    The Karate Kid Collection  12000000  Adventure   11231
785                          NaN  23000000  Adventure   36344
983                          NaN         0  Adventure   31102
...                          ...       ...        ...     ...
44660                        NaN         0     Action   44341
44950                        NaN  15000000     Action  460846
45164                        NaN         0     Action   49074
45292                        NaN         0  Adventure  317389
45338                        NaN         0  Adventure   42652

      original_language                                           overview  \
148                  en  In the highlands of Scotland in the 1700s, Rob...
166                  en  Jesse becomes reunited with Willy three years ...
497                  en  During a commemoration for Japanese soldiers f...
785                  en  Jake Barnes and his two kids, Sean and Jessie,...
983                  en  A young girl comes to an embittered town and c...
...                 ...                                                ...
44660                en  Porter's sequential continuity editing links s...
44950                en  An ex-special services veteran, down on his lu...
45164                ta  Auto rickshaw driver Manickam avoids violence ...
45292                es                                                NaN
45338                ru  A Russian version of the classic Alexandre Dum...

       popularity                               production_companies  \
148          10.0               United Artists, Talisman Productions
166           8.0  Regency Enterprises, Alcor Films, Canal+, Donn...
497          10.0                      Columbia Pictures Corporation
785           2.0  Castle Rock Entertainment, Columbia Pictures C...
983           3.0                            Walt Disney Productions
...           ...                                                ...
44660         0.0                       Edison Manufacturing Company
44950        47.0  Nu Image / Millennium Films, Nu Boyana Film St...
45164         1.0                                      Sathya Movies
45292         0.0                        Roas Produzioni, Buton Film
45338         0.0                                Odessa Film Studios

                           production_countries release_date   revenue  \
148    United Kingdom, United States of America   1995-04-13  31596911
166            France, United States of America   1995-07-19         0
497                    United States of America   1994-07-18  15826984
785                                      Canada   1996-08-14         0
983                    United States of America   1960-05-19         0
...                                         ...          ...       ...
44660                  United States of America   1903-01-21         0
44950                  United States of America   2017-03-04         0
45164                                     India   1995-01-15  15000000
45292                                     Italy   1973-07-22         0
45338                           Ukraine, Russia   1988-01-01         0

       runtime                          spoken_languages    status  \
148      139.0                                   English  Released
166       95.0  English, Bahasa indonesia, Bahasa melayu  Released
497      107.0                                   English  Released
785      109.0                                   English  Released
983      134.0                                   English  Released
...        ...                                       ...       ...
44660      6.0                                   English  Released
44950     87.0                                   English  Released
45164    145.0                                     தமிழ்  Released
45292      NaN                                  Italiano  Released
45338    270.0                                   Pусский  Released

                                                 tagline  \
148    Honor made him a man. Courage made him a hero....
166    The adventure is back. The fun is back. Willy'...
497               Who says the good guy has to be a guy?
785    A missing father. A desperate search. An unfor...
983    Meet the people, the pleasure, the entertainme...
...                                                  ...
44660                                                NaN
44950                                                NaN
45164                                                NaN
45292                                                NaN
45338                                                NaN

                                   title  vote_average  vote_count  \
148                              Rob Roy           6.5         151
166    Free Willy 2 - The Adventure Home           5.5         130
497                  The Next Karate Kid           4.8         202
785                               Alaska           5.2          32
983                            Pollyanna           6.9          50
...                                  ...           ...         ...
44660        Life of an American Fireman           6.3          19
44950                           Security           6.0         113
45164                             Baasha           7.8          14
45292      Simbad e il califfo di Bagdad           0.0           0
45338          The Prisoner of If Castle           5.0           3

       release_year    return
148            1995  1.128461
166            1995  0.000000
497            1994  1.318915
785            1996  0.000000
983            1960  0.000000
...             ...       ...
44660          1903  0.000000
44950          2017  0.000000
45164          1995       inf
45292          1973  0.000000
45338          1988  0.000000

[388 rows x 20 columns]

## 19/ Peliculas con votos obtenidos superior a los 1194"

In [38]:
df_filtrado = data[data['vote_count'] > 1194]
print("Peliculas con votos mayores a 1194")
print(df_filtrado)

Peliculas con votos mayores a 1194
                        belongs_to_collection     budget  \
0                        Toy Story Collection   30000000
1                                         NaN   65000000
5                                         NaN   60000000
15                                        NaN   52000000
31                                        NaN   29500000
...                                       ...        ...
43570                                     NaN   34000000
43934                Despicable Me Collection   80000000
44196  Planet of the Apes (Reboot) Collection  152000000
44599                                     NaN  100000000
44762                 Transformers Collection  260000000

                                             genres      id original_language  \
0                         Animation, Comedy, Family     862                en
1                        Adventure, Fantasy, Family    8844                en
5                    Action, Crime, Drama, Thriller     949                en
15                                     Drama, Crime     524                en
31               Science Fiction, Thriller, Mystery      63                en
...                                             ...     ...               ...
43570                                 Action, Crime  339403                en
43934  Action, Animation, Adventure, Family, Comedy  324852                en
44196                   Drama, Science Fiction, War  281338                en
44599         Action, Drama, History, Thriller, War  374720                en
44762  Action, Science Fiction, Thriller, Adventure  335988                en

                                                overview  popularity  \
0      Led by Woody, Andy's toys live happily in his ...        22.0
1      When siblings Judy and Peter discover an encha...        17.0
5      Obsessive master thief, Neil McCauley leads a ...        18.0
15     The life of the gambling paradise – Las Vegas ...        10.0
31     In the year 2035, convict James Cole reluctant...        12.0
...                                                  ...         ...
43570  After being coerced into working for a crime b...       228.0
43934  Gru and his wife Lucy must stop former '80s ch...        37.0
44196  Caesar and his apes are forced into a deadly c...       146.0
44599  The miraculous evacuation of Allied soldiers f...        31.0
44762  Autobots and Decepticons are at war, with huma...        39.0

                                    production_companies  \
0                                Pixar Animation Studios
1      TriStar Pictures, Teitler Film, Interscope Com...
5        Regency Enterprises, Forward Pass, Warner Bros.
15     Universal Pictures, Légende Entreprises, Syali...
31     Universal Pictures, Atlas Entertainment, Classico
...                                                  ...
43570  Big Talk Productions, TriStar Pictures, Media ...
43934                         Illumination Entertainment
44196                              Chernin Entertainment
44599  Canal+, Studio Canal, Warner Bros., Syncopy, R...
44762  Paramount Pictures, Di Bonaventura Pictures, A...

                                    production_countries release_date  \
0                               United States of America   1995-10-30
1                               United States of America   1995-12-15
5                               United States of America   1995-12-15
15                      France, United States of America   1995-11-22
31                              United States of America   1995-12-29
...                                                  ...          ...
43570           United Kingdom, United States of America   2017-06-28
43934                           United States of America   2017-06-15
44196                   Canada, United States of America   2017-07-11
44599  Netherlands, France, United Kingdom, United St...   2017-07-19
44762                           United States of America   2017-06-21

          revenue  runtime            spoken_languages    status  \
0       373554033     81.0                     English  Released
1       262797249    104.0           English, Français  Released
5       187436818    170.0            English, Español  Released
15      116112375    178.0                     English  Released
31      168840000    129.0           English, Français  Released
...           ...      ...                         ...       ...
43570   224511319    113.0                     English  Released
43934  1020063384     96.0                     English  Released
44196   369907963    140.0                     English  Released
44599   519876949    107.0  English, Français, Deutsch  Released
44762   604942143    149.0                     English  Released

                                          tagline  \
0                                             NaN
1       Roll the dice and unleash the excitement!
5                        A Los Angeles Crime Saga
15               No one stays at the top forever.
31                         The future is history.
...                                           ...
43570           All you need is one killer track.
43934                                 Oh brother.
44196    For freedom. For family. For the planet.
44599             The event that shaped our world
44762  For one world to live, the other must die.

                                title  vote_average  vote_count  release_year  \
0                           Toy Story           7.7        5415          1995
1                             Jumanji           6.9        2413          1995
5                                Heat           7.7        1886          1995
15                             Casino           7.8        1343          1995
31                     Twelve Monkeys           7.4        2470          1995
...                               ...           ...         ...           ...
43570                     Baby Driver           7.2        2083          2017
43934                 Despicable Me 3           6.2        2002          2017
44196  War for the Planet of the Apes           6.7        1675          2017
44599                         Dunkirk           7.5        2712          2017
44762   Transformers: The Last Knight           6.2        1440          2017

          return
0      12.451801
1       4.043035
5       3.123947
15      2.232930
31      5.723390
...          ...
43570   6.603274
43934  12.750792
44196   2.433605
44599   5.198769
44762   2.326701

[940 rows x 20 columns]

## 20/ peliculas con idioma original Frances

In [39]:
peliculas_frances = data[data['original_language'] == 'fr']
print(peliculas_frances)

      belongs_to_collection    budget                               genres  \
28                      NaN  18000000  Fantasy, Science Fiction, Adventure
32                      NaN         0                   Romance, Adventure
58                      NaN         0             Thriller, Drama, Mystery
67                      NaN         0                      Comedy, Romance
72                      NaN         0                       Drama, History
...                     ...       ...                                  ...
45358                   NaN         0                              Fantasy
45361                   NaN         0                                  NaN
45362                   NaN         0                                  NaN
45364                   NaN         0            Fantasy, Action, Thriller
45365                   NaN         0                      Comedy, Fantasy

           id original_language  \
28        902                fr
32      78802                fr
58      99040                fr
67       4482                fr
72      48750                fr
...       ...               ...
45358   44333                fr
45361   44324                fr
45362  122036                fr
45364   49280                fr
45365  106807                fr

                                                overview  popularity  \
28     A scientist in a surrealist society kidnaps ch...        10.0
32                                                   NaN         1.0
58     The year is 1952, in Quebec City. Rachel (16),...         0.0
67     After learning of her husband's infidelities, ...         3.0
72     In France during World War II, a poor and illi...         1.0
...                                                  ...         ...
45358  A bearded magician holds up a large playing ca...         0.0
45361  The background of this picture represents a sc...         0.0
45362  This shows a prince entering upon the stage of...         0.0
45364  A band-leader has arranged seven chairs for th...         1.0
45365         A series of fantastical wrestling matches.         0.0

                                    production_companies  \
28     Procirep, Constellation Productions, France 3 ...
32                                  Iwerks Entertainment
58                                                   NaN
67     Renn Productions, Les Films Flam, TF1 Films Pr...
72                             Les Films 13, Canal+, TF1
...                                                  ...
45358                                          Star-Film
45361                                  Star Film Company
45362                                  Star Film Company
45364                                  Star Film Company
45365                                          Star-Film

                   production_countries release_date  revenue  runtime  \
28               France, Germany, Spain   1995-05-16  1738611    108.0
32     France, United States of America   1996-09-18        0     50.0
58                               Canada   1995-09-29        0    100.0
67                               France   1995-02-08        0     95.0
72                               France   1995-03-22        0    175.0
...                                 ...          ...      ...      ...
45358                            France   1905-01-01        0      3.0
45361                            France   1904-03-05        0      3.0
45362                            France   1904-01-01        0      2.0
45364                            France   1900-01-01        0      1.0
45365                            France   1900-01-01        0      2.0

          spoken_languages    status  \
28     广州话 / 廣州話, Français  Released
32                 English  Released
58       English, Français  Released
67       Français, Español  Released
72                Français  Released
...                    ...       ...
45358          No Language  Released
45361                  NaN  Released
45362                  NaN  Released
45364          No Language  Released
45365          No Language  Released

                                                 tagline  \
28             Where happily ever after is just a dream.
32                                                   NaN
58                                                   NaN
67                                                   NaN
72     In a time of chaos, in a world of change, he w...
...                                                  ...
45358                                                NaN
45361                                                NaN
45362                                                NaN
45364                                                NaN
45365                                                NaN

                                  title  vote_average  vote_count  \
28            The City of Lost Children           7.6         308
32                     Wings of Courage           6.8           4
58                     The Confessional           6.5           2
67                         French Twist           6.0          43
72                       Les Miserables           6.6           8
...                                 ...           ...         ...
45358          The Living Playing Cards           6.1           8
45361           The Untameable Whiskers           6.0           6
45362  The Imperceptable Transmutations           5.0           2
45364                  The One-Man Band           6.5          22
45365  The Fat and Lean Wrestling Match           6.5           6

       release_year    return
28             1995  0.096589
32             1996  0.000000
58             1995  0.000000
67             1995  0.000000
72             1995  0.000000
...             ...       ...
45358          1905  0.000000
45361          1904  0.000000
45362          1904  0.000000
45364          1900  0.000000
45365          1900  0.000000

[2437 rows x 20 columns]

## 21 / Filtrar peliculas por idioma original

In [40]:
peliculas_espanol = data[data['original_language'] == 'es'].head(20)

print(peliculas_espanol)

     belongs_to_collection   budget                           genres      id  \
131                    NaN        0           Comedy, Drama, Romance   55475
261                    NaN  2000000                   Drama, Romance   18183
317                    NaN        0                    Comedy, Drama   12527
561                    NaN        0                    Comedy, Drama    8223
609                    NaN        0                   Drama, Romance    4307
703                    NaN        0                  Comedy, Foreign   62364
767                    NaN        0                   Drama, Foreign  123763
1026                   NaN        0                   Drama, Romance   43777
1074                   NaN        0                     Crime, Drama  146341
1096                   NaN        0                            Drama   49688
1147                   NaN        0    Comedy, Crime, Drama, Romance    2469
1387                   NaN        0  Drama, Comedy, Romance, Foreign   43775
1695                   NaN        0                            Drama   18205
1734                   NaN        0         Drama, Romance, Thriller     267
2368                   NaN        0    Action, Comedy, Horror, Crime   10722
2458                   NaN        0          Drama, Foreign, Romance   65749
2470                   NaN        0          Drama, Mystery, Romance    1414
2478                   NaN  2900000                  Drama, Thriller    1902
2793                   NaN        0                   Drama, Foreign   69851
2816                   NaN        0                              NaN   42020

     original_language                                           overview  \
131                 es  Balbuena is a genial illegal immigrant who mak...
261                 es  Tita is passionately in love with Pedro, but h...
317                 es  Havana, Cuba, 1979. Flamboyantly gay artist Di...
561                 es  Kika, a young cosmetologist, is called to the ...
609                 es  Marisa Paredes is Leocadia ("Leo") Macias, a w...
703                 es  For financial reasons an unemployed aspiring a...
767                 es  A viceroy and an archbishop take their posts i...
1026                es  A patriot (René Lavan) with a rebellious broth...
1074                es                                                NaN
1096                es  Based on real events, 17-year-old Johnny Garcí...
1147                es  Recently released from a mental hospital, Rick...
1387                es                                                NaN
1695                es  Heated tempers, frustrated desires and dashed ...
1734                es  A scorned ex-convict forces himself into the l...
2368                es  The story revolves around a Basque Roman Catho...
2458                es  A dangerous love affair inspires a director to...
2470                es  Otto and Ana are kids when they meet each othe...
2478                es  A very handsome man finds the love of his life...
2793                es  After his son dies, an elderly man comes back ...
2816                es  In a Gypsy village, the fathers of Candela and...

      popularity                               production_companies  \
131          0.0                            Cigua Films, D'Pelicula
261          4.0                                 Aviacsa, Cinevista
317          2.0  Miramax Films, Tabasco films, Instituto Mexica...
561          4.0                           CiBy 2000, El Deseo S.A.
609          2.0                                El Deseo, Ciby 2000
703          1.0                                                NaN
767          0.0                                GEA Cinematográfica
1026         0.0                   Overseas FilmGroup, Azucar Films
1074         1.0                                                NaN
1096         0.0  Vision Comunicaciones, Catalina Cinema, Arauco...
1147        11.0                                           El Deseo
1387         0.0                                                NaN
1695         3.0  Alameda Films, Instituto Mexicano de Cinematog...
1734         7.0               El Deseo, France 3 Cinéma, CiBy 2000
2368         6.0  Canal+ España, Sociedad General de Televisión ...
2458         1.0                                     Adela Pictures
2470         3.0                                            Sogetel
2478         9.0  Les Films Alain Sarde, Las Producciones del Es...
2793         1.0                   Radio Televisión Española (RTVE)
2816         0.0                                                NaN

                              production_countries release_date   revenue  \
131                             Dominican Republic   1995-08-16         0
261                                         Mexico   1992-04-16  21665468
317                                    Cuba, Spain   1993-01-01         0
561                                  France, Spain   1993-10-28         0
609                                          Spain   1995-09-22         0
703                                          Spain   1995-11-10         0
767                                      Argentina   1990-08-09         0
1026  United States of America, Dominican Republic   1996-02-10         0
1074            United States of America, Bulgaria   1995-09-12         0
1096                                 Chile, Mexico   1993-01-01         0
1147                                         Spain   1989-12-12         0
1387                          Spain, Germany, Cuba   1995-01-01         0
1695                                        Mexico   1995-05-05         0
1734                                 France, Spain   1997-10-28   1535558
2368                                  Italy, Spain   1995-10-20   4367497
2458                              Argentina, Spain   1998-02-12         0
2470                                         Spain   1998-09-04         0
2478                                         Spain   1997-12-19    368234
2793                                         Spain   1998-10-16         0
2816                                         Spain   1986-03-23         0

      runtime         spoken_languages    status  \
131     102.0                  Español  Released
261     105.0         English, Español  Released
317     108.0                  Español  Released
561     117.0                  Español  Released
609     107.0                  Español  Released
703     106.0                  Español  Released
767     105.0                  Español  Released
1026    102.0                  Español  Released
1074    105.0  български език, English  Released
1096     90.0                  Español  Released
1147    111.0                  Español  Released
1387    105.0                  Español  Released
1695    140.0                  Español  Released
1734    103.0                  Español  Released
2368    103.0        Italiano, Español  Released
2458    115.0                  Español  Released
2470    112.0          Magyar, Español  Released
2478    117.0                  Español  Released
2793    151.0                  Español  Released
2816    100.0                  Español  Released

                                                tagline  \
131                                                 NaN
261   In Tita's kitchen, ordinary spices become a re...
317                                                 NaN
561                                                 NaN
609                         Every woman has a secret...
703                                                 NaN
767                                                 NaN
1026   Cuba today... somewhere between lov and dispair.
1074                                                NaN
1096                                                NaN
1147             A love story... With strings attached!
1387                                                NaN
1695          The most awarded film in Mexican history.
1734   Life, love, desire... and everything in between.
2368                           A devilishly dark comedy
2458                        Tango: do not ever leave me
2470                          Destiny cannot be denied.
2478                                                NaN
2793                 Love or honor? How can one choose?
2816                                                NaN

                            title  vote_average  vote_count  release_year  \
131                     Nueba Yol           5.5           1          1995
261      Like Water for Chocolate           6.6          70          1992
317      Strawberry and Chocolate           7.1          16          1993
561                          Kika           6.8          58          1993
609       The Flower of My Secret           6.9          43          1995
703                Mouth to Mouth           5.5           5          1995
767           I, the Worst of All           6.8           3          1990
1026                 Bitter Sugar           6.3           3          1996
1074                 Bird of Prey           0.0           0          1995
1096             Johnny 100 Pesos           6.3           3          1993
1147      Tie Me Up! Tie Me Down!           7.0         102          1989
1387                 Guantanamera           8.0           3          1995
1695                  Midaq Alley           6.4          12          1995
1734                   Live Flesh           7.2          89          1997
2368         The Day of the Beast           6.9         106          1995
2458                        Tango           6.8           6          1998
2470  Lovers of the Arctic Circle           7.1          54          1998
2478               Open Your Eyes           7.4         211          1997
2793              The Grandfather           6.7          11          1998
2816                El Amor Brujo           7.0           4          1986

         return
131    0.000000
261   10.832734
317    0.000000
561    0.000000
609    0.000000
703    0.000000
767    0.000000
1026   0.000000
1074   0.000000
1096   0.000000
1147   0.000000
1387   0.000000
1695   0.000000
1734        inf
2368        inf
2458   0.000000
2470   0.000000
2478   0.126977
2793   0.000000
2816   0.000000

## 22/ Encontrar las peliculas que se lanzaron en un año especifico

In [41]:
peliculas_1998 = data[data['release_year'] == 1998].head(12)

print(peliculas_1998)

     belongs_to_collection    budget                             genres  \
858                    NaN         0                Drama, Romance, War
1524                   NaN  50000000            Action, Drama, Thriller
1575                   NaN         0  Horror, Science Fiction, Thriller
1576                   NaN         0                     Drama, Romance
1599                   NaN         0                             Comedy
1600                   NaN   6000000    Comedy, Drama, Fantasy, Romance
1602                   NaN  60000000                      Comedy, Drama
1643                   NaN  60000000                     Drama, Romance
1648                   NaN  15000000                      Comedy, Crime
1651                   NaN  25000000             Comedy, Drama, Romance
1652   3 Ninjas Collection         0             Action, Comedy, Family
1654                   NaN         0             Drama, Thriller, Crime

         id original_language  \
858   56077                en
1524   9458                en
1575   9827                en
1576   1959                en
1599  31535                en
1600  10215                en
1602  37165                en
1643    547                en
1648    115                en
1651   9410                en
1652  32302                en
1654  88863                en

                                               overview  popularity  \
858   This is the story of a young Irish woman who c...         1.0
1524  San Francisco police officer Frank Connor is i...         4.0
1575  In the peaceful town of Snowfield, Colorado so...        11.0
1576  The film tells the story of Russian emigree an...        10.0
1599      A surfer becomes the head of a major company.         1.0
1600  Gwyneth Paltrow plays London publicist Helen, ...        10.0
1602  Truman Burbank is the star of "The Truman Show...        13.0
1643  Based on the novel by the same name from Nicho...         8.0
1648  Jeffrey "The Dude" Lebowski, a Los Angeles sla...        16.0
1651  Loosely based on the Charles Dickens' classic ...        10.0
1652  Three young boys, Rocky, Colt and Tum Tum toge...         3.0
1654  Daryl gets out of jail after 5 years. His moth...         6.0

                                   production_companies  \
858             Kanzaman, Kan Zamia-a, Polaris Pictures
1524           TriStar Pictures, Mandalay Entertainment
1575                     Miramax Films, Dimension Films
1576                     Tapson Steel Films Productions
1599                                 101st Street Films
1600  Paramount Pictures, Miramax Films, Intermedia ...
1602        Paramount Pictures, Scott Rudin Productions
1643          Wildwood Enterprises, Touchstone Pictures
1648  Gramercy Pictures, PolyGram Filmed Entertainme...
1651  Twentieth Century Fox Film Corporation, Art Li...
1652  TriStar Pictures, Leeds/Ben-Ami Productions, S...
1654   Live Entertainment, Heller Highwater Productions

                          production_countries release_date    revenue  \
858                   United States of America   1998-10-30          0
1524                  United States of America   1998-01-30          0
1575                  United States of America   1998-01-23    5624282
1576                            United Kingdom   1998-01-23          0
1599                  United States of America   1998-03-13          0
1600  United Kingdom, United States of America   1998-04-23   58000000
1602                  United States of America   1998-06-04  264118201
1643                  United States of America   1998-05-14  186883563
1648  United Kingdom, United States of America   1998-03-06   46189568
1651                  United States of America   1998-01-19   55494066
1652                  United States of America   1998-04-10          0
1654                  United States of America   1998-02-27          0

      runtime                     spoken_languages    status  \
858      96.0                              English  Released
1524    100.0                              English  Released
1575     91.0                              English  Released
1576    113.0                              English  Released
1599     95.0                              English  Released
1600     99.0                              English  Released
1602    103.0                              English  Released
1643    170.0                              English  Released
1648    117.0  English, עִבְרִית, Español, Deutsch  Released
1651    111.0                              English  Released
1652     93.0           English, Français, Deutsch  Released
1654     97.0                              English  Released

                                                tagline  \
858                                                 NaN
1524                      Desperate times call for. . .
1575  For centuries they told us the terror would co...
1576                                                NaN
1599                                        Work sucks!
1600  What if one split second sent your life in two...
1602                               On the air. Unaware.
1643                                                NaN
1648          Times like these call for a Big Lebowski.
1651                        Let desire be your destiny.
1652                      Saving the day the ninja way!
1654           This game has only two rules. Do or die.

                                     title  vote_average  vote_count  \
858                         Talk of Angels           6.8           4
1524                    Desperate Measures           5.9          60
1575                              Phantoms           5.2         110
1576                    Swept from the Sea           6.5          12
1599                 Chairman of the Board           2.7          13
1600                         Sliding Doors           6.6         363
1602                       The Truman Show           7.8        4702
1643                   The Horse Whisperer           6.7         296
1648                      The Big Lebowski           7.8        3001
1651                    Great Expectations           6.4         131
1652  3 Ninjas: High Noon at Mega Mountain           3.9          38
1654                             Caught Up           4.3           4

      release_year    return
858           1998  0.000000
1524          1998  0.000000
1575          1998       inf
1576          1998  0.000000
1599          1998  0.000000
1600          1998  9.666667
1602          1998  4.401970
1643          1998  3.114726
1648          1998  3.079305
1651          1998  2.219763
1652          1998  0.000000
1654          1998  0.000000

## 23/ Obtener la pelicula con el mayor presupuesto

In [42]:
pelicula_mayor_presupuesto = data[data['budget'] == data['budget'].max()]

print(pelicula_mayor_presupuesto)

                     belongs_to_collection     budget  \
17115  Pirates of the Caribbean Collection  380000000

                           genres    id original_language  \
17115  Adventure, Action, Fantasy  1865                en

                                                overview  popularity  \
17115  Captain Jack Sparrow crosses paths with a woma...        28.0

                                    production_companies  \
17115  Walt Disney Pictures, Jerry Bruckheimer Films,...

           production_countries release_date     revenue  runtime  \
17115  United States of America   2011-05-14  1045713802    136.0

       spoken_languages    status                      tagline  \
17115  English, Español  Released  Live Forever Or Die Trying.

                                             title  vote_average  vote_count  \
17115  Pirates of the Caribbean: On Stranger Tides           6.4        5068

       release_year    return
17115          2011  2.751878